.c_h-ome-frame,
.c_h-ome-frame1 {
  width: 100%;
  max-width: 1281px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-frame1 {
  max-width: 1412px;
}

.c_h-ome-instance,
.c_h-ome-instance01 {
  width: 100%;
  max-width: 1282px;
  box-sizing: border-box;
}

.c_h-ome-instance01 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-line,
.c_h-ome-rectangle,
.c_h-ome-rectangle01 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1282px;
}

.c_h-ome-line,
.c_h-ome-rectangle01 {
  max-width: 50.078125px;
}

.c_h-ome-line {
  height: 5px;
  max-width: 1282px;
  transform: rotate(0deg);
  max-height: 5px;
}

.c_h-ome-text {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text,
.c_h-ome-text01,
.c_h-ome-text02 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text01 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-family: "Goudy Bookletter 1911",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text02 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text03 {
  color: #39ff48;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text03,
.c_h-ome-text04,
.c_h-ome-text05 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text04 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text05 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text06 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text06,
.c_h-ome-text07,
.c_h-ome-text08 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text07 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text08 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text09 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text09,
.c_h-ome-text10,
.c_h-ome-text11 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text10 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text11 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text12 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text12,
.c_h-ome-text13,
.c_h-ome-text14 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text13 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text14 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text15 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text15,
.c_h-ome-text16,
.c_h-ome-text17 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text16 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text17 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text18 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text18,
.c_h-ome-text19,
.c_h-ome-text20 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text19 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text20 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text21 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text21,
.c_h-ome-text22,
.c_h-ome-text23 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text22 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text23 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Gentium Book Basic",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-rectangle02 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 7.0107421875px;
}

.c_h-ome-instance02 {
  width: 100%;
  max-width: 1281px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle03 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1281px;
}

.c_h-ome-frame2,
.c_h-ome-instance03 {
  width: 100%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}

.c_h-ome-frame2 {
  display: flex;
  position: relative;
  max-width: 5156px;
}

.c_h-ome-instance03 {
  max-width: 1289px;
  flex-direction: column;
}

.c_h-ome-rectangle04,
.c_h-ome-rectangle05 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1289px;
}

.c_h-ome-instance04 {
  width: 100%;
  max-width: 718px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle06,
.c_h-ome-rectangle07,
.c_h-ome-rectangle08 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 717.5185546875px;
}

.c_h-ome-rectangle07,
.c_h-ome-rectangle08 {
  max-width: 511.8037109375px;
}

.c_h-ome-rectangle08 {
  max-width: 710.5625px;
}

.c_h-ome-text24 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text24,
.c_h-ome-text25,
.c_h-ome-text26 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text25 {
  color: #f3f4f3;
  font-size: 70px;
  font-style: normal;
  font-family: "Grenze",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text26 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text27 {
  color: #f3f4f3;
  font-size: 70px;
  font-style: normal;
  font-family: "Grenze",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-text27,
.c_h-ome-text28,
.c_h-ome-text29 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.c_h-ome-text28 {
  width: 100%;
  max-width: auto;
  min-height: auto;
}

.c_h-ome-text29 {
  color: #f3f4f3;
  font-size: 70px;
  font-style: normal;
  font-family: "Grenze",serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  text-transform: none;
}

.c_h-ome-instance05 {
  width: 100%;
  max-width: 1289px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle09,
.c_h-ome-rectangle10 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1289px;
}

.c_h-ome-rectangle10 {
  max-width: 1285px;
}

.c_h-ome-instance06 {
  width: 100%;
  max-width: 1289px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle11,
.c_h-ome-rectangle12 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1289px;
}

.c_h-ome-rectangle12 {
  max-width: 1279px;
}

.c_h-ome-instance07 {
  width: 100%;
  max-width: 1289px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle13,
.c_h-ome-rectangle14 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 1289px;
}

.c_h-ome-instance08 {
  width: 100%;
  max-width: 100px;
  transform: rotate(180deg);
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle15 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 72.2353515625px;
  transform: rotate(-.38deg);
}

.c_h-ome-instance09 {
  width: 100%;
  max-width: 100px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.c_h-ome-rectangle16 {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  max-width: 72.2353515625px;
  transform: rotate(-.38deg);
}